<div class="bg-gray-700 px-3 py-5 rounded-xl drop-shadow-lg">
  <div class="flex gap-3 mb-5">
    <input
      type="text"
      class="flex-grow rounded-xl bg-gray-500 text-white font-semibold px-3 py-2"
      [(ngModel)]="inputName"
    />
    <button
      class="bg-teal-300 text-teal-950 font-semibold rounded-xl px-3 py-2"
      type="button"
      (click)="updateName()"
    >
      Save name
    </button>
    <button
      class="bg-emerald-300 text-emerald-900 text-2xl font-semibold rounded-xl pt-1 px-3 pb-1.5"
      (click)="addChild()"
    >
      +
    </button>
  </div>
  <div class="flex flex-col gap-4" *ngIf="children">
    <app-child
      *ngFor="let child of children"
      [parentName]="name"
      [name]="child"
    />
  </div>
</div>
